# VSCode
.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc[cod]

# Files and directories specific to pygrasp 
documentation/
epydoc/
misc/
local.config

# Build
build/*
dist/*
*.egg-info

# Documents
*.pdf

# Tmp
tmp/*
input/Gyrotron/tmp/
temp_*/*
*/temp_*/*

# Ticra Tools
Project/*/*.stp
Project/*/*.log
Project/*/*.out
Project/*/*.xml
Project/*/*.grd
Project/*/screenoutput.txt
